<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/dist/bundle.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css
    ">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
</head>

<body>
    <app-header></app-header>
    <main id='page-wrapper' class="mdc-theme--background">
        <container-chat-us>
        </container-chat-us>
        <app-second-header>
        </app-second-header>
        <section class="our-solutions main-section">
        </section>

    </main>
    <script src="/js/particle.js"></script>
    <script src="/dist/bundle.js"></script>
    <script>
    </script>
</body>

</html>