<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/dist/bundle.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css
    ">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script> -->
</head>

<body>
    <app-header></app-header>
    <main id='page-wrapper' class="mdc-theme--background">
        <container-chat-us>
        </container-chat-us>
        <app-second-header>
        </app-second-header>
        <section class="our-solutions main-section">
        </section>
        <section class="full-width-section what-we-do-section">
            <h1 class="text-center bordered-title section-title">What We Do</h1>
            <p class="text-center">We Do every thing in programming field, We can fullfil any idea of application you want to build with a solid and experienced team cand do the impposiple</p>
            <div class="grid-images">
                <div class="image-box">
                    <div class="overlay-box"></div>
                    <img src="/images/image1.jpg">
                </div>
                <div class="image-box">
                                    <div class="overlay-box"></div>
                    <img src="/images/image2.jpg">
                </div>
                <div class="image-box">
                                    <div class="overlay-box"></div>
                    <img src="/images/image3.jpg">
                </div>
                <div class="image-box">
                                    <div class="overlay-box"></div>
                    <img src="/images/image4.jpg">
                </div>
                                <div class="image-box">
                                    <div class="overlay-box"></div>
                    <img src="/images/image5.jpg">
                </div>
                                <div class="image-box">
                                    <div class="overlay-box"></div>
                    <img src="/images/image6.jpg">
                </div>
                                <div class="image-box">
                                    <div class="overlay-box"></div>
                    <img src="/images/image7.jpg">
                </div>
                                <div class="image-box">
                                    <div class="overlay-box"></div>
                    <img src="/images/image8.jpg">
                </div>
            </div>
        </section>

    </main>
    <script src="/js/particle.js"></script>
    <script src="/dist/bundle.js"></script>
    <script>
    </script>
</body>

</html>